@charset "UTF-8";

// Цветовая палитра сайта 
// =================================
// W - White
$W: #FFFFFF;
// Bl - Black
$BL: #101010;
// G - Gray
$G1: #C0C0C0;
$G2: #EFEFEF;
// R - Red
$R: #E50000;
// OC - Other Colors
$OC1: #EFEFEF;
$OC2: #E9F0F6;
// B - Blue
$B1: #01426A;
$B2: #00619C;
$B3: #008FE7;
// =================================

.header {

	&__container {
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__bar,
	&__body {
		position: relative;
		align-items: center;
		width: 100%;
	}

	&__bar {
		height: 48px;
		border-bottom: 1px solid #E2E2E2;
	}

	&__body {
		height: 90px;
	}

	&__contacts {
		justify-content: space-between;
		max-width: 393px;
		width: 100%;
	}

	&__language {
		width: 60px;
	}

	&__nav {
		max-width: 550px;
		width: 100%;
	}

	&__burger {
		display: none;

		width: 40px;
		height: 40px;
	}

	&__btn {
		width: 40px;
		height: 40px;

		display: flex;
		justify-content: center;
		align-items: center;

		&>img {
			width: 22px;
			height: 22px;
		}

		border-radius: 50%;
		background: $B1;

		cursor: pointer;
		outline: none;
		border: none;

		transition: background .3s ease 0s;

		&:hover {
			background: $B2;
		}

		&.click {
			background: $B3;

			&:hover {
				background: $B3;
			}
		}
	}

	@media (max-width: 840px) {

		&__bar::before,
		&__body::before {
			content: '';

			position: absolute;
			width: 100%;
			height: 100%;

			background: $W;
		}

		&__bar {
			z-index: 51;
		}

		&__body {
			box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.1);
		}

		&__nav {
			position: fixed;
			top: 0;
			left: 0;

			min-width: 100vw;
			height: 100vh;

			display: flex;
			justify-content: center;

			z-index: -1;

			padding: 140px 0px 0px 0px;
			background-color: $W;

			transition: transform .3s ease 0s;
			transform: translateX(100%);
			visibility: hidden;

			&.open {
				transform: translateX(0);
				visibility: visible;
			}
		}

		&__burger {
			display: block;
		}
	}

	@media (max-width: 520px) {

		&__nav {
			min-width: none;
			width: calc(100% - 40px);
			height: 100vh;

			padding: 110px 0px 0px 0px;
		}

		&__bar {
			height: 40px;
		}

		&__body {
			height: 70px;
		}

		&__contacts {

			&>a:nth-child(2),
			&>a:nth-child(3) {
				display: none;
			}
		}
	}
}