@charset "UTF-8";
// ================================= 
// Сайт компании "i1 Consulting"  
// Стэк: HTML, CSS, SCSS, JS, PHP 
// Препроцессоры: SASS 
// Методология: BEM 
// Все права защищены (c) 
// 2022 год 
// ================================= 


// Цветовая палитра сайта 
// =================================
// W - White
$W: #FFFFFF;
// Bl - Black
$BL: #101010;
// G - Gray
$G1: #C0C0C0;
$G2: #EFEFEF;
// R - Red
$R: #E50000;
// OC - Other Colors
$OC1: #EFEFEF;
$OC2: #E9F0F6;
// B - Blue
$B1: #01426A;
$B2: #00619C;
$B3: #008FE7;


// Разметка базовых блоков
// =================================
html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.page {
	position: relative;
	padding: 0;
	margin: 0 auto;

	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;

	background-color: $OC2;
	color: $BL;

	&.lock {
		overflow: hidden;
	}

	&__header {
		position: fixed;
		left: 0px;
		top: 0px;

		z-index: 50;

		width: 100%;
		height: 140px;

		background-color: $W;
	}

	&__content {
		position: relative;
		left: 0px;

		margin: 140px 0px 0px 0px;

		z-index: 1;

		width: 100%;
		min-height: 100vh;
	}

	&__footer {
		padding: 50px 0px;

		z-index: 1;

		width: 100%;
		height: 160px;

		background-color: $B1;
	}

	@media (max-width: 840px) {

		&__content {
			margin: 110px 0px 0px 0px;
		}

		&__footer {
			height: auto;
		}
	}

	@media (max-width: 520px) {
		&__header {
			height: 110px;
		}

		&__footer {
			padding: 40px 0px;
		}
	}
}


// Состояния
// =================================
// Неактивное состояние объекта для неутвержденных блоков
.hide {
	display: none !important;
	visibility: hidden;
	pointer-events: none;
}


// Ограничивающий контейнер
// =================================
.container {
	margin: 0 auto;
	position: relative;

	display: flex;

	max-width: 1180px;
	width: 100%;
	height: fit-content;

	@media (max-width: 1220px) {
		max-width: 800px;
	}

	@media (max-width: 840px) {
		max-width: 480px;
	}

	@media (max-width: 520px) {
		max-width: none;
		width: calc(100% - 40px);
		padding: 0px 20px;
	}
}

.flex {
	display: flex;
}


// UI Элементы
// =================================
// Текст
.text {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

	// Размерная сетка
	&_size--s {
		line-height: 13px;
		font-size: 10px;
	}

	&_size--xs {
		line-height: 18.2px;
		font-size: 15px;
	}

	&_size--m {
		line-height: 26px;
		font-size: 20px;
	}

	&_size--l {
		line-height: 36.4px;
		font-size: 28px;
	}

	&_size--xl {
		line-height: 52px;
		font-size: 40px;
	}

	&_size--xxl {
		line-height: 72.8px;
		font-size: 56px;
	}

	&_size--h1 {
		line-height: 70px;
		font-size: 60px;
	}

	// Мобильная размерная сетка
	@media (max-width: 520px) {
		line-height: 150%;

		&_size--s {
			font-size: 12px;
		}

		&_size--xs {
			font-size: 14px;
		}

		&_size--m {
			font-size: 18px;
		}

		&_size--l {
			font-size: 24px;
		}

		&_size--xl {
			font-size: 30px;
		}

		&_size--xxl {
			font-size: 45px;
		}

		&_size--h1 {
			font-size: 50px;
		}
	}

	// Сетка толщины
	&_weight--r {
		font-weight: 400;
	}

	&_weight--sb {
		letter-spacing: 2.2%;
		font-weight: 500;
	}

	&_weight--b {
		font-weight: 700;
	}

	// Цветовая палитра
	&_color--b {
		color: $B1;
	}

	&_color--w {
		color: $W;
	}

	// Текст с пунктом
	&_marker {
		position: relative;
		text-indent: 30px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background: $B1;
		}
	}
}

// Заголовки
.title {
	text-transform: uppercase;
	color: $B1;
}

// Основные заголовки
.main-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	margin: 0px 0px 50px 0px;
	row-gap: 10px;

	@media (max-width: 520px) {
		margin: 0px 0px 30px 0px;
	}
}

// Ссылки
a {
	cursor: pointer;
}

// Кнопки
.btn {
	text-align: center;
	padding: 17px 45px 15px 45px;
	width: fit-content;
	border-radius: 28px;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: $W;

	cursor: pointer;
	border: none;
	background: $B1;

	transition: background .3s ease 0s;

	&:hover {
		background: $B2;
	}

	&.click {
		background: $B3;

		&:hover {
			background: $B3;
		}
	}

	&.wait {
		position: relative;
		pointer-events: none;
		background-color: $B3;

		overflow: hidden;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			background: url('/resources/icons/icon_wait.gif') center / 52px no-repeat;
			background-color: $B3;
		}

		&:hover {
			background-color: $B3;
		}
	}

	&.error {
		background: $G1;
		pointer-events: none;

		&:hover {
			background: $G1;
		}
	}

	&_doc {
		position: relative;
		padding: 17px 45px 15px 70px;

		&::before {
			content: url('/resources/icons/icon_doc.svg');
			position: absolute;

			top: 2px;
			left: 40px;

			width: 20px;
			height: 100%;

			display: flex;
			align-items: center;
		}
	}
}

// Переключатель языка
.select-lang {
	-khtml-user-select: none;
	user-select: none;

	width: 60px;
	height: 33px;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;

	position: relative;

	&__header {
		cursor: pointer;

		position: absolute;
		width: 60px;
		height: 33px;
		top: 0;
		left: -11px;

		&>.select-lang__item {
			pointer-events: none;
			display: none;
		}

		&::before {
			pointer-events: none;

			position: absolute;
			content: '';
			right: -10px;
			top: 12px;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 5px 0 5px;
			border-color: #000000 transparent transparent transparent;
		}
	}

	&__body {
		overflow: hidden;
		border-radius: 5px;
		background: $W;
		z-index: 55;

		position: absolute;
		left: 0;
		top: 33px;
		width: 60px;
		height: fit-content;

		display: none;
		flex-direction: column;

		box-shadow: 0px 4px 4px rgba(191, 191, 191, 0.25);

		&.active {
			display: flex;
		}
	}

	&__item {
		transition: background .3s ease 0s;
		cursor: pointer;

		position: relative;

		width: 50px;
		padding: 0px 10px 0px 0px;
		height: 33px;

		display: flex;
		justify-content: right;
		align-items: center;

		&:hover {
			background: $G2;
		}

		&.active {
			display: flex;
			pointer-events: none;
		}

		&.remove {
			pointer-events: none;
			display: none;
		}

		&.ru {
			&::before {
				pointer-events: none;
				content: url('/resources/icons/flags/flag_ru.svg');
				margin: 0px 6px 0px 0px;
			}
		}

		&.en {
			&::before {
				pointer-events: none;
				content: url('/resources/icons/flags/flag_en.svg');
				margin: 0px 6px 0px 0px;
			}
		}

		&.tr {
			&::before {
				pointer-events: none;
				content: url('/resources/icons/flags/flag_tr.svg');
				margin: 0px 6px 0px 0px;
			}
		}
	}
}

// Навигация
.nav {

	&__list {
		margin: 0;
		padding: 0;

		width: 100%;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__row {
		&.footer {
			width: 49%;
			margin: 0px 0px 27px 0px;

			&:nth-child(2),
			&:nth-child(4) {
				text-align: right;
			}
		}

		&.mobile {
			display: none;

			&>a {
				font-size: 18px;
			}

			&>img {
				margin: 0px 20px 0px 0px;
			}
		}
	}

	&__link {
		transition: color .3s ease 0s;
		cursor: pointer;

		&:hover {
			color: $B2;
		}

		&.focus {
			color: $B3;

			&:hover {
				color: $B3;
			}
		}

		&.click {
			color: $B3;

			&:hover {
				color: $B3;
			}
		}
	}

	@media (max-width: 840px) {

		&__list {
			&.header {
				flex-direction: column;
				width: 100%;
				max-width: 480px;
				height: fit-content;
			}
		}

		&__row {

			&.header {
				display: flex;
				border-bottom: 1px solid $G2;

				&>a {
					padding: 15px 0px;
					width: 100%;
				}
			}

		}

		&__link {
			&.focus {
				color: $BL;

				&:hover {
					color: $B1;
				}
			}
		}
	}

	@media (max-width: 520px) {
		&__list {
			flex-direction: column;

			&.header {
				width: calc(100% - 40px);
				max-width: none;
			}
		}

		&__row {

			&.mobile {
				display: flex;
				border-bottom: 1px solid $G2;

				&>a {
					padding: 15px 0px;
					width: 100%;
				}
			}

			&.footer {
				width: 100%;
				margin: 0px 0px 20px 0px;
				text-align: center;

				&:nth-child(2),
				&:nth-child(4) {
					text-align: center;
				}
			}
		}
	}
}

// Форма
.form {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;


	&__input {
		padding: 17px 27px 15px 27px;
		max-width: 399px;

		border: 1px $B1 solid;
		border-radius: 28px;
		outline: none;
		background: none;

		width: 20%;

		color: $BL;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 18.2px;

		&.error {
			border: 1px $R solid;

			&::-webkit-input-placeholder {
				color: $R;
			}

			&:-ms-input-placeholder {
				color: $R;
			}

			&::-moz-placeholder {
				color: $R;
			}

			&:-moz-placeholder {
				color: $R;
			}
		}

		&::-webkit-input-placeholder {
			color: $B1;
		}

		&:-ms-input-placeholder {
			color: $B1;
		}

		&::-moz-placeholder {
			color: $B1;
		}

		&:-moz-placeholder {
			color: $B1;
		}
	}

	&__btn {
		width: 20%;
	}

	@media (max-width: 840px) {
		flex-wrap: wrap;
		flex-direction: column;

		&__input {
			width: 100%;
			max-width: 420px;
			margin: 0px 0px 28px 0px;
		}

		&__btn {
			width: 100%;
			max-width: 480px;
		}
	}

	@media (max-width: 520px) {
		&__input {
			max-width: none;
			width: auto;
			margin: 0px 0px 20px 0px;
		}
	}
}

// Карточка
.card {
	border-radius: 28px;
	background-color: $W;
	box-shadow: 2px 2px 7px rgba(149, 149, 149, 0.25);

	&__col {
		display: flex;
		flex-direction: column;
		row-gap: 28px;
	}

	&__row {
		display: flex;
		flex-direction: column;
		row-gap: 20px;

		&.right {
			display: flex;
			align-items: flex-end;
		}
	}

	@media (max-width: 840px) {
		&__row {
			row-gap: 15px;
		}
	}
}

// Модальные окна
.modal {
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	&__pic {
		width: 100%;
		height: 250px;
		overflow: hidden;
		border-radius: 28px;

		&>img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;

		&>img {
			width: 50px;
			height: 50px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;

		&>input {
			width: auto;
			margin: 0px 0px 22px 0px;
		}

		&>button {
			width: 100%;
		}
	}

	&__new {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	@media (max-width: 520px) {
		row-gap: 20px;

		&__pic {
			height: 180px;
		}

		&__title {
			&>img {
				width: 35px;
				height: 35px;
			}
		}

		&__form {
			&>input {
				margin: 0px 0px 15px 0px;
			}
		}

		&__new {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
	}
}


// Разметка контентных блоков
// =================================
// Main
.content {

	&__about {
		padding: 60px 0px 50px 0px;
	}

	&__solutions,
	&__services,
	&__news,
	&__contacts {
		padding: 50px 0px;
	}

	&__request {
		padding: 50px 0px 60px 0px;
	}

	@media (max-width: 520px) {
		&__about {
			padding: 40px 0px 30px 0px;
		}

		&__solutions,
		&__contacts,
		&__news {
			padding: 30px 0px;
		}

		&__services {
			padding: 30px 0px 20px 0px;
		}

		&__request {
			padding: 30px 0px 40px 0px;
		}
	}
}

// Секции
.about {

	&__container {
		justify-content: space-between;
	}

	&__item {
		justify-content: center;

		&:nth-child(1) {
			width: 100%;
			max-width: 550px;
			flex-direction: column;
			row-gap: 30px;
		}

		&:nth-child(2) {
			border-radius: 7px;
			overflow: hidden;
			width: 100%;
			max-width: 580px;

			&>img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	@media (max-width: 840px) {
		&__container {
			flex-direction: column;
			justify-content: center;
			row-gap: 50px;
		}
	}

	@media (max-width: 520px) {
		&__item {
			&:nth-child(1) {
				row-gap: 20px;
			}
		}
	}
}

.solutions {
	&__container {
		flex-direction: column;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		width: 100%;
	}

	&__card {
		padding: 48px;
		display: flex;
		flex-direction: column;

		row-gap: 48px;
	}

	&__title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&>img {
			height: 50px;
		}
	}

	&__content {
		display: grid;
		justify-content: space-between;

		&.second {
			column-gap: 20px;
			grid-template-columns: 1fr auto;
			justify-content: space-between;
		}

		&.third {
			grid-template-columns: 30% 25% 38%;
		}
	}

	@media (max-width: 1220px) {
		&__content {
			&.second {
				grid-template-columns: 1fr;
			}
		}
	}

	@media (max-width: 840px) {
		&__content {
			&.third {
				grid-template-columns: 1fr;
			}

			column-gap: 0px;
			row-gap: 28px;
		}

		&__card {
			padding: 28px;
			row-gap: 28px;
		}
	}
}

.services {
	&__container {
		flex-direction: column;
	}

	&__cards {
		display: grid;
		column-gap: 20px;

		grid-template-columns: repeat(3, 1fr);

		width: 100%;
	}

	&__card {
		padding: 30px;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	&__title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&>img {
			height: 50px;
		}
	}

	&__content {
		display: grid;
		justify-content: flex-start;
		row-gap: 20px;
	}

	@media (max-width: 1220px) {
		&__cards {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 20px;
		}
	}

	@media (max-width: 840px) {
		&__cards {
			grid-template-columns: 1fr;
			column-gap: 0;
		}

		&__card {
			padding: 28px;
			row-gap: 28px;
		}
	}
}

.news {
	&__container {
		flex-direction: column;
	}

	&__item {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;

		column-gap: 20px;

		width: 100%;
	}

	&__card {
		display: flex;
		flex-direction: column;

		overflow: hidden;

	}

	&__banner {
		width: 100%;
		height: 100%;
		max-height: 220px;

		&>img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		padding: 30px 30px 20px 30px;

		&>h3 {
			margin: 15px 0px;
		}

		&>p {
			margin: 0;
		}
	}

	&__button {
		padding: 0px 30px 30px 30px;
		text-align: right;
	}

	&__link {
		cursor: pointer;
		transition: color .3s ease 0s;
		color: $B1;

		text-decoration: underline;

		&:hover {
			color: $B2;
		}
	}

	@media (max-width: 1220px) {
		&__item {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: 840px) {
		&__item {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	@media (max-width: 520px) {

		&__text {
			padding: 20px;
		}

		&__button {
			padding: 0px 20px 20px 20px;
		}
	}
}

.contacts {

	&__container {
		flex-direction: column;
	}

	&__item {
		width: 100%;

		&:nth-child(1) {
			margin: 0px 0px 50px 0px;
		}

		&:nth-child(2) {
			justify-content: space-between;
		}
	}

	&__offices {
		max-width: 420px;
		width: 100%;
	}

	&__title {
		pointer-events: none;

		width: 100%;
		border-bottom: 1px $B1 solid;
		padding: 10px 0px;

		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;

		&>img {
			pointer-events: none;
			width: 40px;
			height: 40px;
			margin: 0px 20px 0px 0px;
		}

		&>h3 {
			transition: color .3s ease 0s;
		}
	}

	&__office {
		flex-direction: column;

		&:hover {
			cursor: pointer;

			&>.contacts__title>h3 {
				color: $B2;
			}
		}

		&>.contacts__contacts {
			display: none;
		}

		&.active {
			&>.contacts__contacts {
				animation: fadeIn .3s;
				display: flex;
			}
		}
	}

	&__contacts {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 30px 0px 0px 0px;
	}

	&__contact {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin: 0px 0px 30px 0px;

		&>img {
			margin: 0px 23px 0px 0px;
		}
	}

	&__map {
		width: fit-content;
	}

	@media (max-width: 1220px) {
		&__offices {
			max-width: 350px;
			width: 100%;
		}
	}

	@media (max-width: 840px) {
		&__item {
			width: 100%;

			&:nth-child(2) {
				justify-content: center;
				flex-direction: column;
			}
		}

		&__offices {
			max-width: none;
			width: 100%;
		}

		&__office:nth-child(2) {
			&>.contacts__contacts {
				&>.contacts__contact:nth-last-child(1) {
					margin: 0px;
				}
			}
		}
	}

	@media (max-width: 520px) {
		&__item {
			&:nth-child(1) {
				margin: 0px 0px 40px 0px;
			}
		}
	}
}

.request {

	&__container {
		flex-direction: column;
	}

	&__item {
		width: 100%;

		&:nth-child(1) {
			margin: 0px 0px 40px 0px;

			&>h2 {
				margin: 0px 0px 40px 0px;
			}
		}

		&:nth-child(2) {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}

	&__form {
		margin: 0px 0px 20px 0px;
	}

	@media(max-width: 520px) {
		&__item {
			&:nth-child(1) {
				margin: 0px 0px 30px 0px;

				&>h2 {
					margin: 0px 0px 30px 0px;
				}
			}
		}
	}
}

.map {
	border-radius: 7px;
	display: none;

	max-width: 637px;

	&.active {
		display: flex;
	}

	@media (max-width: 1220px) {
		max-width: 400px;
	}

	@media (max-width: 840px) {
		margin: 40px 0px 0px 0px;
		max-width: 100%;
		height: 250px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes shake {
	0% {
		transform: translateX(-5px);
	}

	20% {
		transform: translateX(5px);
	}

	40% {
		transform: translateX(-5px);
	}

	60% {
		transform: translateX(5px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		transform: translateX(5px);
	}
}

// Анимации
@media (prefers-reduced-motion: no-preference) {
	._anim {
		&_fade {
			opacity: 0;
			transform: translateY(20px);
		}

		&_scale {
			scale: 0;
		}

		&_del-1 {
			transition: all .8s ease 0s;
		}

		&_del-2 {
			transition: all .8s ease .2s;
		}

		&_del-3 {
			transition: all .8s ease .4s;
		}

		&_del-4 {
			transition: all .8s ease .6s;
		}
	}

	._anim-fadeIn {
		opacity: 1;
		transform: translateY(0);
	}

	._anim-scaleIn {
		scale: 1;
	}
}