.footer {
  flex-wrap: wrap;
  align-content: space-between;
}
.footer__container {
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.footer__body, .footer__bar {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer__contacts {
  flex-direction: column;
}
.footer__contacts > a {
  margin: 0px 0px 27px 0px;
}
.footer__nav {
  max-width: 293px;
  width: 100%;
}
.footer__create-info {
  width: 100%;
  justify-content: flex-start;
}
@media (max-width: 840px) {
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 40px 0px;
  }
  .footer__contacts {
    width: 50%;
  }
  .footer__nav {
    max-width: none;
    width: 50%;
  }
  .footer__body {
    margin: 0px 0px 20px 0px;
  }
  .footer__bar {
    display: flex;
    justify-items: center;
  }
  .footer__create-info {
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
  }
  .footer__contacts {
    width: 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .footer__contacts > a {
    margin: 0px 0px 20px 0px;
  }
  .footer__nav {
    width: 100%;
  }
}