html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.page {
  position: relative;
  padding: 0;
  margin: 0 auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: #E9F0F6;
  color: #101010;
}
.page.lock {
  overflow: hidden;
}
.page__header {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 50;
  width: 100%;
  height: 140px;
  background-color: #FFFFFF;
}
.page__content {
  position: relative;
  left: 0px;
  margin: 140px 0px 0px 0px;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
}
.page__footer {
  padding: 50px 0px;
  z-index: 1;
  width: 100%;
  height: 160px;
  background-color: #01426A;
}
@media (max-width: 840px) {
  .page__content {
    margin: 110px 0px 0px 0px;
  }
  .page__footer {
    height: auto;
  }
}
@media (max-width: 520px) {
  .page__header {
    height: 110px;
  }
  .page__footer {
    padding: 40px 0px;
  }
}

.hide {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  max-width: 1180px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1220px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 840px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 520px) {
  .container {
    max-width: none;
    width: calc(100% - 40px);
    padding: 0px 20px;
  }
}

.flex {
  display: flex;
}

.text {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.text_size--s {
  line-height: 13px;
  font-size: 10px;
}
.text_size--xs {
  line-height: 18.2px;
  font-size: 15px;
}
.text_size--m {
  line-height: 26px;
  font-size: 20px;
}
.text_size--l {
  line-height: 36.4px;
  font-size: 28px;
}
.text_size--xl {
  line-height: 52px;
  font-size: 40px;
}
.text_size--xxl {
  line-height: 72.8px;
  font-size: 56px;
}
.text_size--h1 {
  line-height: 70px;
  font-size: 60px;
}
@media (max-width: 520px) {
  .text {
    line-height: 150%;
  }
  .text_size--s {
    font-size: 12px;
  }
  .text_size--xs {
    font-size: 14px;
  }
  .text_size--m {
    font-size: 18px;
  }
  .text_size--l {
    font-size: 24px;
  }
  .text_size--xl {
    font-size: 30px;
  }
  .text_size--xxl {
    font-size: 45px;
  }
  .text_size--h1 {
    font-size: 50px;
  }
}
.text_weight--r {
  font-weight: 400;
}
.text_weight--sb {
  letter-spacing: 2.2%;
  font-weight: 500;
}
.text_weight--b {
  font-weight: 700;
}
.text_color--b {
  color: #01426A;
}
.text_color--w {
  color: #FFFFFF;
}
.text_marker {
  position: relative;
  text-indent: 30px;
}
.text_marker::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #01426A;
}

.title {
  text-transform: uppercase;
  color: #01426A;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0px 50px 0px;
  row-gap: 10px;
}
@media (max-width: 520px) {
  .main-title {
    margin: 0px 0px 30px 0px;
  }
}

a {
  cursor: pointer;
}

.btn {
  text-align: center;
  padding: 17px 45px 15px 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  background: #01426A;
  transition: background 0.3s ease 0s;
}
.btn:hover {
  background: #00619C;
}
.btn.click {
  background: #008FE7;
}
.btn.click:hover {
  background: #008FE7;
}
.btn.wait {
  position: relative;
  pointer-events: none;
  background-color: #008FE7;
  overflow: hidden;
}
.btn.wait::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url("/resources/icons/icon_wait.gif") center/52px no-repeat;
  background-color: #008FE7;
}
.btn.wait:hover {
  background-color: #008FE7;
}
.btn.error {
  background: #C0C0C0;
  pointer-events: none;
}
.btn.error:hover {
  background: #C0C0C0;
}
.btn_doc {
  position: relative;
  padding: 17px 45px 15px 70px;
}
.btn_doc::before {
  content: url("/resources/icons/icon_doc.svg");
  position: absolute;
  top: 2px;
  left: 40px;
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.select-lang {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 60px;
  height: 33px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.select-lang__header {
  cursor: pointer;
  position: absolute;
  width: 60px;
  height: 33px;
  top: 0;
  left: -11px;
}
.select-lang__header > .select-lang__item {
  pointer-events: none;
  display: none;
}
.select-lang__header::before {
  pointer-events: none;
  position: absolute;
  content: "";
  right: -10px;
  top: 12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
}
.select-lang__body {
  overflow: hidden;
  border-radius: 5px;
  background: #FFFFFF;
  z-index: 55;
  position: absolute;
  left: 0;
  top: 33px;
  width: 60px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(191, 191, 191, 0.25);
}
.select-lang__body.active {
  display: flex;
}
.select-lang__item {
  transition: background 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  width: 50px;
  padding: 0px 10px 0px 0px;
  height: 33px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.select-lang__item:hover {
  background: #EFEFEF;
}
.select-lang__item.active {
  display: flex;
  pointer-events: none;
}
.select-lang__item.remove {
  pointer-events: none;
  display: none;
}
.select-lang__item.ru::before {
  pointer-events: none;
  content: url("/resources/icons/flags/flag_ru.svg");
  margin: 0px 6px 0px 0px;
}
.select-lang__item.en::before {
  pointer-events: none;
  content: url("/resources/icons/flags/flag_en.svg");
  margin: 0px 6px 0px 0px;
}
.select-lang__item.tr::before {
  pointer-events: none;
  content: url("/resources/icons/flags/flag_tr.svg");
  margin: 0px 6px 0px 0px;
}

.nav__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav__row.footer {
  width: 49%;
  margin: 0px 0px 27px 0px;
}
.nav__row.footer:nth-child(2), .nav__row.footer:nth-child(4) {
  text-align: right;
}
.nav__row.mobile {
  display: none;
}
.nav__row.mobile > a {
  font-size: 18px;
}
.nav__row.mobile > img {
  margin: 0px 20px 0px 0px;
}
.nav__link {
  transition: color 0.3s ease 0s;
  cursor: pointer;
}
.nav__link:hover {
  color: #00619C;
}
.nav__link.focus {
  color: #008FE7;
}
.nav__link.focus:hover {
  color: #008FE7;
}
.nav__link.click {
  color: #008FE7;
}
.nav__link.click:hover {
  color: #008FE7;
}
@media (max-width: 840px) {
  .nav__list.header {
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .nav__row.header {
    display: flex;
    border-bottom: 1px solid #EFEFEF;
  }
  .nav__row.header > a {
    padding: 15px 0px;
    width: 100%;
  }
  .nav__link.focus {
    color: #101010;
  }
  .nav__link.focus:hover {
    color: #01426A;
  }
}
@media (max-width: 520px) {
  .nav__list {
    flex-direction: column;
  }
  .nav__list.header {
    width: calc(100% - 40px);
    max-width: none;
  }
  .nav__row.mobile {
    display: flex;
    border-bottom: 1px solid #EFEFEF;
  }
  .nav__row.mobile > a {
    padding: 15px 0px;
    width: 100%;
  }
  .nav__row.footer {
    width: 100%;
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
  .nav__row.footer:nth-child(2), .nav__row.footer:nth-child(4) {
    text-align: center;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.form__input {
  padding: 17px 27px 15px 27px;
  max-width: 399px;
  border: 1px #01426A solid;
  border-radius: 28px;
  outline: none;
  background: none;
  width: 20%;
  color: #101010;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.form__input.error {
  border: 1px #E50000 solid;
}
.form__input.error::-webkit-input-placeholder {
  color: #E50000;
}
.form__input.error:-ms-input-placeholder {
  color: #E50000;
}
.form__input.error::-moz-placeholder {
  color: #E50000;
}
.form__input.error:-moz-placeholder {
  color: #E50000;
}
.form__input::-webkit-input-placeholder {
  color: #01426A;
}
.form__input:-ms-input-placeholder {
  color: #01426A;
}
.form__input::-moz-placeholder {
  color: #01426A;
}
.form__input:-moz-placeholder {
  color: #01426A;
}
.form__btn {
  width: 20%;
}
@media (max-width: 840px) {
  .form {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .form__input {
    width: 100%;
    max-width: 420px;
    margin: 0px 0px 28px 0px;
  }
  .form__btn {
    width: 100%;
    max-width: 480px;
  }
}
@media (max-width: 520px) {
  .form__input {
    max-width: none;
    width: auto;
    margin: 0px 0px 20px 0px;
  }
}

.card {
  border-radius: 28px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 7px rgba(149, 149, 149, 0.25);
}
.card__col {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.card__row {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.card__row.right {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 840px) {
  .card__row {
    row-gap: 15px;
  }
}

.content__about {
  padding: 60px 0px 50px 0px;
}
.content__solutions, .content__services, .content__news, .content__contacts {
  padding: 50px 0px;
}
.content__request {
  padding: 50px 0px 60px 0px;
}
@media (max-width: 520px) {
  .content__about {
    padding: 40px 0px 30px 0px;
  }
  .content__solutions, .content__contacts, .content__news {
    padding: 30px 0px;
  }
  .content__services {
    padding: 30px 0px 20px 0px;
  }
  .content__request {
    padding: 30px 0px 40px 0px;
  }
}

.about__container {
  justify-content: space-between;
}
.about__item {
  justify-content: center;
}
.about__item:nth-child(1) {
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  row-gap: 30px;
}
.about__item:nth-child(2) {
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  max-width: 580px;
}
.about__item:nth-child(2) > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 840px) {
  .about__container {
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
  }
}
@media (max-width: 520px) {
  .about__item:nth-child(1) {
    row-gap: 20px;
  }
}

.solutions__container {
  flex-direction: column;
}
.solutions__cards {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
}
.solutions__card {
  padding: 48px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.solutions__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.solutions__title > img {
  height: 50px;
}
.solutions__content {
  display: grid;
  justify-content: space-between;
}
.solutions__content.second {
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
}
.solutions__content.third {
  grid-template-columns: 30% 25% 38%;
}
@media (max-width: 1220px) {
  .solutions__content.second {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 840px) {
  .solutions__content {
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 28px;
  }
  .solutions__content.third {
    grid-template-columns: 1fr;
  }
  .solutions__card {
    padding: 28px;
    row-gap: 28px;
  }
}

.services__container {
  flex-direction: column;
}
.services__cards {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.services__card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.services__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services__title > img {
  height: 50px;
}
.services__content {
  display: grid;
  justify-content: flex-start;
  row-gap: 20px;
}
@media (max-width: 1220px) {
  .services__cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 840px) {
  .services__cards {
    grid-template-columns: 1fr;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .services__card {
    padding: 28px;
    row-gap: 28px;
  }
}

.news__container {
  flex-direction: column;
}
.news__item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
}
.news__card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.news__banner {
  width: 100%;
  height: 100%;
  max-height: 220px;
}
.news__banner > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__text {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 20px 30px;
}
.news__text > h3 {
  margin: 15px 0px;
}
.news__text > p {
  margin: 0;
}
.news__button {
  padding: 0px 30px 30px 30px;
  text-align: right;
}
.news__link {
  cursor: pointer;
  transition: color 0.3s ease 0s;
  color: #01426A;
  text-decoration: underline;
}
.news__link:hover {
  color: #00619C;
}
@media (max-width: 1220px) {
  .news__item {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 840px) {
  .news__item {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 520px) {
  .news__text {
    padding: 20px;
  }
  .news__button {
    padding: 0px 20px 20px 20px;
  }
}

.contacts__container {
  flex-direction: column;
}
.contacts__item {
  width: 100%;
}
.contacts__item:nth-child(1) {
  margin: 0px 0px 50px 0px;
}
.contacts__item:nth-child(2) {
  justify-content: space-between;
}
.contacts__offices {
  max-width: 420px;
  width: 100%;
}
.contacts__title {
  pointer-events: none;
  width: 100%;
  border-bottom: 1px #01426A solid;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.contacts__title > img {
  pointer-events: none;
  width: 40px;
  height: 40px;
  margin: 0px 20px 0px 0px;
}
.contacts__title > h3 {
  transition: color 0.3s ease 0s;
}
.contacts__office {
  flex-direction: column;
}
.contacts__office:hover {
  cursor: pointer;
}
.contacts__office:hover > .contacts__title > h3 {
  color: #00619C;
}
.contacts__office > .contacts__contacts {
  display: none;
}
.contacts__office.active > .contacts__contacts {
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
  display: flex;
}
.contacts__contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0px 0px;
}
.contacts__contact {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px 0px 30px 0px;
}
.contacts__contact > img {
  margin: 0px 23px 0px 0px;
}
.contacts__map {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1220px) {
  .contacts__offices {
    max-width: 350px;
    width: 100%;
  }
}
@media (max-width: 840px) {
  .contacts__item {
    width: 100%;
  }
  .contacts__item:nth-child(2) {
    justify-content: center;
    flex-direction: column;
  }
  .contacts__offices {
    max-width: none;
    width: 100%;
  }
  .contacts__office:nth-child(2) > .contacts__contacts > .contacts__contact:nth-last-child(1) {
    margin: 0px;
  }
}
@media (max-width: 520px) {
  .contacts__item:nth-child(1) {
    margin: 0px 0px 40px 0px;
  }
}

.request__container {
  flex-direction: column;
}
.request__item {
  width: 100%;
}
.request__item:nth-child(1) {
  margin: 0px 0px 40px 0px;
}
.request__item:nth-child(1) > h2 {
  margin: 0px 0px 40px 0px;
}
.request__item:nth-child(2) {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.request__form {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 520px) {
  .request__item:nth-child(1) {
    margin: 0px 0px 30px 0px;
  }
  .request__item:nth-child(1) > h2 {
    margin: 0px 0px 30px 0px;
  }
}

.map {
  border-radius: 7px;
  display: none;
  max-width: 637px;
}
.map.active {
  display: flex;
}
@media (max-width: 1220px) {
  .map {
    max-width: 400px;
  }
}
@media (max-width: 840px) {
  .map {
    margin: 40px 0px 0px 0px;
    max-width: 100%;
    height: 250px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@media (prefers-reduced-motion: no-preference) {
  ._anim_fade {
    opacity: 0;
    transform: translateY(20px);
  }
  ._anim_scale {
    scale: 0;
  }
  ._anim_del-1 {
    transition: all 0.8s ease 0s;
  }
  ._anim_del-2 {
    transition: all 0.8s ease 0.2s;
  }
  ._anim_del-3 {
    transition: all 0.8s ease 0.4s;
  }
  ._anim_del-4 {
    transition: all 0.8s ease 0.6s;
  }
  ._anim-fadeIn {
    opacity: 1;
    transform: translateY(0);
  }
  ._anim-scaleIn {
    scale: 1;
  }
}